<!-- templates/blog/home.html -->
{% extends 'base.html' %}

{% block content %}
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">    
    <h2 class="display-3">Postagens</h2>

    {% for post in posts %}
            <div class="card">
                <div class="card-body">
                    <h5 class="display-6">{{ post.title }}</h5>
                    <p class="lead my-3">{{ post.description }}</p>
                    <a href="{% url 'post_detail' id=post.id %}" class="lead mb-0 text-body-emphasis fw-bold">Leia Mais</a>
                </div>
            </div>
        {% endfor %}
    </div>
    
        <nav class="blog-pagination" aria-label="Pagination" style="display: flex; justify-content: center;">
            <a class="btn btn-outline-secondary rounded-pill" href="#">Anterior</a>
            <a class="btn btn-outline-secondary rounded-pill" href="#">Próxima</a>
        </nav>

{% endblock %}
