<!-- templates/login.html -->

{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Login</h1>

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label for="username" class="form-label">Nome de usuário:</label>
                <input type="text" name="username" id="username" class="form-control">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Senha:</label>
                <input type="password" name="password" id="password" class="form-control">
            </div>

            <button type="submit" class="btn btn-sm btn-outline-secondary">Login</button>
        </form>
    </div>
{% endblock %}
