{% extends 'base.html' %}

{% block content %}
    <h1 class="display-4">Sobre o LIKEADA</h1>
    <p class="lead my-3">O LIKEADA é um blog criado como uma homenagem a Ada Lovelace, a primeira programadora da história. Assim como Ada, nós acreditamos no poder da inovação e da criatividade na tecnologia.</p>
<br>
    <h2 class="display-6">Nossa Missão</h2>
    <p class="lead my-3">Nossa missão é compartilhar conhecimento sobre programação e tecnologia, e inspirar mais mulheres a entrar e se destacar nesse campo.</p>
<br>
    <h2 class="display-6">Nossa Visão</h2>
    <p class="lead my-3">Esperamos que o LikeAda se torne uma fonte confiável de informação e inspiração para todas as pessoas interessadas em tecnologia, independentemente de seu gênero.</p>
<br>
    <h2 class="display-6">Nossos Valores</h2>
    <ul>
        <li class="lead my-3">Inovação e criatividade, seguindo o exemplo de Ada Lovelace</li>
        <li class="lead my-3">Compromisso com a qualidade e a precisão das informações</li>
        <li class="lead my-3">Respeito à diversidade e inclusão</li>
        <li class="lead my-3">Empoderamento e apoio às mulheres na tecnologia</li>
        
    </ul>
<br>
<br>
    <h2 class="display-6">Conclusão do Projeto WoMakersCode</h2>
    <p class="lead my-3">Este blog foi criado como parte do projeto final do bootcamp de backend Python e Django da WoMakersCode. Ao longo do curso, aprendemos sobre Python, Django e muito mais.</p>
    <p class="lead my-3">Agradeço à WoMakersCode pela oportunidade de aprender e crescer como desenvolvedora. Espero que o LikeAda seja uma fonte de inspiração e conhecimento para todas as pessoas interessadas em tecnologia.</p>
{% endblock %}